# 默认忽略
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.packages
.pub-cache/
.pub/
*.iml
.idea/

# IDE
.vscode/
.DS_Store

# Flutter
flutter_*.png

# 临时输出
**/mytime-preview.png

# 测试 Hive 数据库
test_hive_*/